<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <script>
        let locationHash = window.location.hash;
   
        let urlSplit = locationHash.split('#');
        let username;
		let token;
		if (urlSplit.length > 2) {
			username = urlSplit[1];
            token = urlSplit[2];
            console.log(username);
            console.log(token);
            $.post('/badge/entry', { username:username, apptoken:token},(result)=>{
                window.location = result;
            });
            

        }else {
            console.log("no login info provided")
		}																	       

    </script>\
</body>
</html>