html,

body {
  height: 100%;
  overflow: auto;
}

body {

	font-family: "Bookman Old Style";
	background: #808080;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #808080 0%, #ffffff 100%);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #808080 0%, #ffffff 100%);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#alph_buttons, #target_word_div{
	text-align:center;
}

#button_group, #target_word{
	margin:auto;
}

h1{
	text-align:center;
}
/* 
button{
	width:5%;
}
 */
 